<template>
    <v-card>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field v-model="title" label="Title" required append-icon="mdi-email"></v-text-field>
                <v-text-field v-model="description" label="Description" required append-icon="mdi-email"></v-text-field>
                <v-btn color="success lighten-1" @click="create">
                    Create
                </v-btn>
                <v-btn text :to="'/'">
                    Cancel
                </v-btn>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
    data: ()=>({
        
        title : '',
        description : '',
        apiDomain : 'https://demo-api-vue.sanbercloud.com',
        photo :[],
        
    }),
    computed :{
        ...mapGetters({
            token : 'auth/token'
        }),
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set'
        }),
        close (){
            this.$emit('closed', false)
        },
        validationForm(){
           this.errors = []

           if(this.title.length < 5){
            this.errors.push('Title minimal 5 karakter')
            this.$refs.title.focus()
           }
           if(this.description.length > 30){
            this.errors.push('Description tidak boleh lebih dari 30 karakter')
            this.$refs.description.focus()
           }
        },

        create(){
            let formData = new FormData()
            formData.append('title' , this.title)
            formData.append('description' , this.description)

            const config = {
              method : "post",
              url : `${this.apiDomain}/api/v2/blog`,
              data : formData,
              headers : {
                    'Authorization' : 'Bearer ' + this.token,
                }

            }

            this.axios(config)
              .then( response => {
                this.title = ''
                this.description = ''
                console.log(response.data)
                let id = response.data.blog.id
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Blog created',
                })

                this.close()

                this.$router.push({ path: `/blog/${id}` })
              })
              .catch( response => {
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Add blog failed'
                })
              })
        },
    }
}
</script>