<template>
    <div>
        <v-card v-if="blog.id">
            <v-img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/300/200'" class="white--text" height="200px">
            <v-card-title class="fill-height alling-end" v-text="blog.title"></v-card-title>
            </v-img>

            <v-card-text>
                <v-simple-table dense>
                    <tbody>
                        <tr>
                            <td><v-icon>mdi-format-title</v-icon>Judul</td>
                            <td class="blue--text">{{ blog.title }}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-note</v-icon>Deskripsi</td>
                            <td>{{ blog.description }}</td>
                        </tr>
                        <tr v-if="!guest">
                            <td>
                                <v-file-input
                                    v-model="photoBlog"
                                    accept="image/png, image/jpeg, image/bmp"
                                    placeholder="Pick an avatar"
                                    prepend-icon="mdi-camera"
                                    label="Avatar"
                                    required
                                    ref="photoBlog"
                                ></v-file-input>
                            </td>
                        </tr>
                    </tbody>
                </v-simple-table>
                <v-row align="center" justify="space-around">
                    <v-btn color="success lighten-1" @click="uploadImage" v-if="!guest">
                        <v-icon left>mdi-image</v-icon>
                        Upload Image
                    </v-btn>
                    
                    <v-btn color="success lighten-1" :to="`/editblog/${blog.id}`" v-if="!guest">
                        <v-icon left>mdi-pencil</v-icon>
                        Edit
                    </v-btn>

                    <v-btn color="red" dark @click="removeBlog(blog.id)" v-if="!guest">
                        <v-icon left>mdi-delete</v-icon>
                        Delete
                    </v-btn>
                </v-row>
            </v-card-text>
        </v-card>
    </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
    data:()=>({
        blog : {},
        apiDomain : 'https://demo-api-vue.sanbercloud.com',
        photoBlog :[],
    }),
    computed : {
        ...mapGetters({
        guest : 'auth/guest',
        user : 'auth/user',
        token : 'auth/token',
        })
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
        }),
        go() {
            let { id } = this.$route.params
            const config ={
                method : 'get',
                url : `${this.apiDomain}/api/v2/blog/${id}`
            }

            this.axios(config)
                .then(response =>{
                    let { blog } = response.data
                    this.blog = blog
                })
                .catch(error =>{
                    console.log(error)
                })
        },
        removeBlog(id){
            const config = {
            method  : "post",
            url : `${this.apiDomain}/api/v2/blog/${id}`,
            params : { _method : "DELETE" },
            headers : {
                    'Authorization' : 'Bearer ' + this.token,
                }

          }

          this.axios(config)
            .then( response => {
                console.log(response.data)
                
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Blog deleted',
                })

                this.$router.push({ path: '/blogs' }) //redirect
                
            })
            .catch( response => {
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Delete blog failed'
                })
            })

        },
        uploadImage(){
            let formData = new FormData()
            let { id } = this.$route.params
            formData.append('photo' , this.photoBlog)
            const config = {
                method: 'post',
                url: `${this.apiDomain}/api/v2/blog/${id}/upload-photo`,
                data: formData,
                headers : {
                    'Authorization' : 'Bearer ' + this.token,
                }
            }

            this.axios(config)
                .then( response => {
                    console.log(response.data)
                    this.setAlert({
                        status : true,
                        color : 'success',
                        text : 'Upload Success',
                    })
                    this.$router.go() //refresh page

                })
                .catch( response => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : 'error',
                        text : 'Upload Failed'
                    })
                })
        },
    },
    created(){
        this.go()
    }
}
</script>