<template>
    <v-card>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field v-model="blog.title" label="Title" required append-icon="mdi-format-title"></v-text-field>
                <v-text-field v-model="blog.description" label="Description" required append-icon="mdi-note"></v-text-field>
                <v-btn color="success lighten-1" @click="update">
                    Update
                </v-btn>
                <v-btn text :to="`/blog/${blog.id}`">
                    Cancel
                </v-btn>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
    data: ()=>({
        blog : {},
        title : '',
        description : '',
        apiDomain : 'https://demo-api-vue.sanbercloud.com',
        photo :[],
        
    }),
    computed :{
        ...mapGetters({
            token : 'auth/token'
        }),
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
        }),
        validationForm(){
           this.errors = []

           if(this.title.length < 5){
            this.errors.push('Title minimal 5 karakter')
            this.$refs.title.focus()
           }
           if(this.description.length > 30){
            this.errors.push('Description tidak boleh lebih dari 30 karakter')
            this.$refs.description.focus()
           }
        },
        get() {
            let { id } = this.$route.params
            const config ={
                method : 'get',
                url : `${this.apiDomain}/api/v2/blog/${id}`
            }

            this.axios(config)
                .then(response =>{
                    let { blog } = response.data
                    this.blog = blog
                })
                .catch(error =>{
                    console.log(error)
                })
        },
        update(){
            let formData = new FormData()
            formData.append('title' , this.blog.title)
            formData.append('description' , this.blog.description)

            const config = {
              method : "post",
              url: `${this.apiDomain}/api/v2/blog/${this.blog.id}?_method=PUT`,
              data : formData,
              headers : {
                    'Authorization' : 'Bearer ' + this.token,
                }

            }

            this.axios(config)
              .then( response => {
                this.title = ''
                this.description = ''
                console.log(response.data)
                
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Blog updated',
                })

                this.$router.push({ path: `/blog/${this.blog.id}` }) //redirect
              })
              .catch( response => {
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Update blog failed'
                })
              })
        },
    },
    created(){
        this.get()
    }
}
</script>